_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.gitignore
vendor
key.py
gemini_blog.ipynb
auto_commit.py 
Gemfile
Gemfile.lock
auto_generate_cron.py
blog_queue.csv
generate_new_post.ipynb
temp_garbage/
